body {
  
}

h1, h2, h3 {
  font-family: 'Arvo', serif;
}

h2 {
  font-size: 100%;
}

p {
  font-family: 'Abhaya Libre', serif;
  font-size: large;
}

#navbar {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
}

.portfolio-text-container {
  padding: 0% 10% 5% 0%;
}

.rounded-img {
  border-radius: 30%;
  width: 350px;
  height: auto;
  float: right;
  margin: 3% 5% 0% 0%;
}

.about-section {
    padding-top: 100px;
    height: 100%;
    text-align: center;
    background: #eee;
}

.portfolio-section {
    padding-top: 100px;
    height: 100%;
    text-align: center;
    background: #fff;
}

.contact-section {
    padding-top: 100px; 
    padding-bottom: 150px;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    text-align: center;
    background: #eee;
}
